<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key ="token" value="MTAzODgwNDk3MjQwNzYyNzgxNg.G2uNd_.9SRqwB2wlOjuoK-WuaF_Poz0YHCVyApHAnfy08" />
		<add key ="admin_id" value="394778586055311370" />
		<add key ="guild_id" value="462159205911232528,910527156738732103" />
		<add key ="application_id" value="1038804972407627816" />
	</appSettings>
</configuration>